/ArticleMicroservice/.idea/sonarlint/issuestore/4/4/442292b8a7efeabbe4cc176709b833b1792140ec
/ArticleMicroservice/.idea/sonarlint/issuestore/6/f/6f858c9dfbd3a1f5e50cdbb7f323c9f82489ab2a
/ArticleMicroservice/.idea/sonarlint/issuestore/8/5/851623612149e1ae8ed03c6743e933f1984706c8
/ShoppingMicorservice/.idea/sonarlint/issuestore/1/9/1970b3e83d1dbb40f37dab44fe65a576eed1b3eb
/ShoppingMicorservice/.idea/sonarlint/issuestore/1/b/1be06b464f5ef6a5c25badebec99aa3b7bfc34aa
/ShoppingMicorservice/.idea/sonarlint/issuestore/2/b/2b018ed2a3fc99ba24e121106c1314de5a99543d
/ShoppingMicorservice/.idea/sonarlint/issuestore/4/4/442292b8a7efeabbe4cc176709b833b1792140ec
/ArticleMicroservice/.idea/sonarlint/issuestore/b/4/b4c563ecaca7faa85fc1d724ed03925e5b3cfeae
/ArticleMicroservice/.idea/sonarlint/issuestore/c/3/c3742632c9a7542dccd7f60e70c5902423a1693d
/ArticleMicroservice/.idea/sonarlint/issuestore/c/6/c6df85e1d89ca05377227de38bc13e282e6abdfb
/ArticleMicroservice/.idea/sonarlint/issuestore/index.pb
/ShoppingMicorservice/.idea/sonarlint/issuestore/b/8/b8c78576313c18eefc402ed4738d23467a9a0596
/ShoppingMicorservice/.idea/sonarlint/issuestore/c/3/c3742632c9a7542dccd7f60e70c5902423a1693d
/ShoppingMicorservice/.idea/sonarlint/issuestore/index.pb
/ArticleMicroservice/.idea/workspace.xml
/ShoppingMicorservice/.idea/workspace.xml
/ShoppingMicorservice/.idea/sonarlint/issuestore/9/5/953ee168f4347809125e75c99db96ca6cf39a056
